body {
    width: 99%;
    height: 100%;
}

.type_threats {
    width: 70%;
    height: 200px;
    margin-left: 15%;
    margin-top: 5%;
    font-family: "Jura-Light";
}

.type_threats_2{
    margin-top: 0;
    font-family: "Jura-Light";
}

.f_row{
    margin-top: 3%;
    width: 90%;
    height: 50%;
    display: inline-block;
    margin-left: 5%;
}

.f_col_1_1{
    width: 45%;
    height: 200px;
    float: left;
    border: 3px solid ;
    font-family: "Jura-Light";
}

.f_col_1_2{
    width: 45%;
    height: 200px;
    float: right;
    border: 3px solid ;
    font-family: "Jura-Light";
}

.lbl_thr{
    text-align: center;
}

a{
    color: black;
    direction: unset;
}